<div id='read-box'>
  <h2><%= @note.title %></h2><br><br>

  <div id='note-content'>
    <%= @note.content %>
  </div><br><br>

  <div id='update-note'>
    <a href='/update'>Update Note</a>
  </div>

  <div id='return-home'>
    <a href='/'>Return Home</a>
  </div>
</div>